body 
{
background-color: #EAF6F6;
}

h1
{
  color: #66BFBF;
}
hr 
{
border-style: none;
border-top-style: dotted;
border-color: gery;
border-width: 10px;
width:5%;
}
img
{
  border-radius:100%;
}

.div1 
{
 background-color:  #61876E;
}
.div2
{
  background-color:  #A6BB8D;
}
.div3
{
 background-color:  #EAE7B1;
}
