body 
{
background-color: #EAF6F6;
}

h1
{
  color: #66BFBF;
}
hr 
{
border-style: none;
border-top-style: dotted;
border-color: gery;
border-width: 10px;
width:5%;
}
img
{
  border-radius:100%;
}

.div1 
{
 background-color:  #F5F0BB;
}
.div2
{
  background-color:  #C4DFAA;
}
.div3
{
 background-color:  #90C8AC;
}
.div4
{
 background-color:  #73A9AD;
}.div5
{
 background-color:  #EAE7B1;
}
